 <ul class="nav navbar-nav navbar-right pull-right">

        <li ng-show="userSvc.getUser().loggedIn" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{userSvc.getUser().name}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/#/changepassword">Change Password</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>