<div class="alert alert-success col-sm-8" ng-show="successReset">
    Password reset successful, please login using <a href="/#/login">login</a>
</div>
<server-model-error modelstate="modelState"></server-model-error>

<div ng-hide="successReset" class="col-sm-12">
    <form class="form-horizontal" role="form" name="resetPasswordFrm" novalidate>
        <div class="form-group">
            <div class="col-sm-2">
                password:
            </div>
            <div class="col-sm-8">
                <input type="password" id="pwd" placeholder="password" name="password" class="form-control" ng-model="passwordResetModel.password"
                    required='' minlength="6" />
                <div ng-show="resetPasswordFrm.password.$touched && resetPasswordFrm.password.$error">
                    <span class="text-danger" ng-show="resetPasswordFrm.password.$touched && resetPasswordFrm.password.$error.required">Password is required.</span>
                    <span class="text-danger" ng-show="resetPasswordFrm.password.$touched && resetPasswordFrm.password.$error.minlength">Password must be minimim of 6 charecters</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                Confirm Password:
            </div>
            <div class="col-sm-8">
                <input type="password" id="confirmPwd" name='confirmPwd' placeholder="Confirm password" class="form-control" ng-model="passwordResetModel.confirmPassword"
                    required='' />
                <div ng-show="resetPasswordFrm.confirmPwd.$touched && resetPasswordFrm.confirmPwd.$error">
                    <span class="text-danger" ng-show="resetPasswordFrm.confirmPwd.$touched && resetPasswordFrm.confirmPwd.$error.required">Confrim Password is required.</span>
                    <span class="text-danger" ng-show="resetPasswordFrm.confirmPwd.$touched && passwordResetModel.confirmPassword != passwordResetModel.password">
                 The Password and Confirm password should be the same.</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <span class="col-sm-2"/>
            <div class="col-sm-8">
                <button class="button button-regular" name="regSubmit" ng-click="resetPassword()">Set  Password</button>
            </div>
        </div>
    </form>
</div>